**/bin/
**/obj/
**/node_modules/
**/.vs/
**/.idea/
**/.vscode/
**/.git/
**/.gitignore
**/.gitattributes
**/*.user
**/Dockerfile
**/docker-compose*.yml
**/.env
**/.env.*
**/*.md
**/tests/
.github/
docs/
dist/